<a href="https://colab.research.google.com/github/tangannbelang/machineLearningTimedoor/blob/main/Predict_Future_Sales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

train= pd.read_csv('train.csv', parse_dates = ['date']) #Agar otomatis mengubah kolom date pada dataset train menjadi format datetime untuk mengolah data timeseries
train

             date  store  item  sales
0      2013-01-01      1     1     13
1      2013-01-02      1     1     11
2      2013-01-03      1     1     14
3      2013-01-04      1     1     13
4      2013-01-05      1     1     10
...           ...    ...   ...    ...
116001 2015-08-22      4     7     66
116002 2015-08-23      4     7     79
116003 2015-08-24      4     7     61
116004 2015-08-25      4     7     64
116005 2015-08-26      4     7     66

[116006 rows x 4 columns]

In [6]:
test= pd.read_csv('test.csv', parse_dates = ['date']) #Agar otomatis mengubah kolom date pada dataset train menjadi format datetime untuk mengolah data timeseries
test

          id       date  store  item
0          0 2018-01-01      1     1
1          1 2018-01-02      1     1
2          2 2018-01-03      1     1
3          3 2018-01-04      1     1
4          4 2018-01-05      1     1
...      ...        ...    ...   ...
44995  44995 2018-03-27     10    50
44996  44996 2018-03-28     10    50
44997  44997 2018-03-29     10    50
44998  44998 2018-03-30     10    50
44999  44999 2018-03-31     10    50

[45000 rows x 4 columns]

min dan max

In [3]:
print('Min date from train set: ' + str(train['date'].min().date()))
print('Max date from train set: ' + str(train['date'].max().date()))

Min date from train set: 2013-01-01
Max date from train set: 2017-12-31

lag size

In [7]:
lag_size = (test['date'].max().date() - train['date'].max().date()).days #Rumus Lag Size
print('Max date from train set: '+ str(train['date'].max().date()) )
print('Max date from test set: ' + str(test['date'].max().date()) )
print('Forecast lag size', lag_size)

Max date from train set: 2017-12-31
Max date from test set: 2018-03-31
Forecast lag size 90

In [8]:
dates = train.groupby('date', as_index=False)['sales'].sum() #Berdasarkan tanggal
stores = train.groupby(['store', 'date'], as_index=False)['sales'].sum() #Berdasarkan store/hari
items = train.groupby(['item', 'date'], as_index=False)['sales'].sum() #Berdasarkan item/hari

In [9]:
dates

           date  sales
0    2013-01-01   1235
1    2013-01-02   1233
2    2013-01-03   1285
3    2013-01-04   1463
4    2013-01-05   1498
...         ...    ...
1821 2017-12-27   1825
1822 2017-12-28   1986
1823 2017-12-29   2130
1824 2017-12-30   2225
1825 2017-12-31   2442

[1826 rows x 2 columns]

In [10]:
stores

       store       date  sales
0          1 2013-01-01    138
1          1 2013-01-02    160
2          1 2013-01-03    119
3          1 2013-01-04    124
4          1 2013-01-05    156
...      ...        ...    ...
18255     10 2017-12-27    176
18256     10 2017-12-28    195
18257     10 2017-12-29    216
18258     10 2017-12-30    204
18259     10 2017-12-31    242

[18260 rows x 3 columns]

In [11]:
items

       item       date  sales
0         1 2013-01-01    133
1         1 2013-01-02     99
2         1 2013-01-03    127
3         1 2013-01-04    145
4         1 2013-01-05    149
...     ...        ...    ...
12777     7 2017-12-27    163
12778     7 2017-12-28    162
12779     7 2017-12-29    177
12780     7 2017-12-30    193
12781     7 2017-12-31    198

[12782 rows x 3 columns]